.frame {

    height:300px;
    border: 3px solid red;
    overflow:hidden;
}

.frame>div{
    width: 800%
    animation: animname 8s;
    height:100%
    }

    @keyframes animname{
        0%{margin-left: 0%; }
        12%{margin-left: -100%;  }
        24%{margin-left: -200%;  }
        36%{margin-left: -300;  }
        48%{margin-left: -400; }
        60%{margin-left: -500; }
        78%{margin-left: -600; }
        90%{margin-left: -700; }
        100%{margin-left: -700; }

        
    }
    
    .frame>div>div{

        width: 12.5%
        float: left; 
        background-color: blue;
        height: 100%
    }